/*Pagewide Features*/
.page-body {
  background-image: url("file:///C:/Users/quinn/Google%20Drive/coding/purlbot/images/knit.jpg");
  background-color: #f7f5f2;
  font-family: "Share Tech Mono";
}
a:link {
  color: #279af1;
}
a:hover {
  color: #4cc9f0;
}
a:visited {
  color: #f72585;
}

/*Title and Navigation*/
.title,
.subtitle {
  text-align: center;
}
#navigation-menu {
  text-align: center;
}
#navigation-menu li {
  display: inline;
  padding: none;
  margin: 0 50px 0 0;
  list-style: none;
}
#purl-title {
  font-family: "Pacifico";
  color: #3a0ca3;
}
#bot-title {
  font-family: "Share Tech Mono";
  font-weight: bold;
  color: #7209b7;
}

/*Cards*/
.card {
  margin: 0 auto;
  background-color: #f7f5f2;
  padding: 0;
}
